absl-py==2.0.0
aiofiles==22.1.0
aiohttp==3.9.1
aiosignal==1.3.1
aiosqlite==0.19.0
astunparse==1.6.3
async-generator==1.10
cachetools==5.3.2
certifi==2023.7.22
certipy==0.1.3
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
datasets==2.16.1
dill==0.3.7
dm-tree==0.1.8
et-xmlfile==1.1.0
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.45.1
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.5.4
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.24.0
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
grpcio==1.59.3
h5py==3.10.0
huggingface-hub==0.20.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
joblib==1.3.2
jupyter-resource-usage==0.7.2
jupyter-server-mathjax==0.2.6
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_server_fileid==0.9.1
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.6
jupyterlab-spreadsheet-editor==0.6.1
jupyterlab-system-monitor==0.8.0
jupyterlab-topbar==0.6.1
jupyterlab-widgets==3.0.9
jupyterlab_git==0.50.0
keras==2.15.0
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.5.1
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
ml-dtypes==0.2.0
multidict==6.0.4
multiprocess==0.70.15
namex==0.0.7
nbdime==4.0.1
nltk==3.8.1
notebook==6.5.6
numpy==1.26.2
openpyxl==3.1.2
opt-einsum==3.3.0
pandas==2.1.3
Pillow==10.1.0
pkbar==0.5
protobuf==4.23.4
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycurl
pydot==2.0.0
pyparsing==3.1.1
pyzmq==24.0.1
regex==2023.12.25
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.9
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.1
smart-open==6.4.0
smmap==5.0.1
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-text==2.15.0
termcolor==2.4.0
threadpoolctl==3.2.0
tokenizers==0.15.0
tornado
transformers==4.36.2
tzdata==2023.3
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.14.1
xxhash==3.4.1
y-py==0.6.2
yarl==1.9.4
ypy-websocket==0.8.4
zstandard==0.21.0