absl-py
aiofiles
aiohttp
aiosignal
aiosqlite
astunparse
async-generator
cachetools
certifi
certipy
click
contourpy
cycler
datasets
dill
dm-tree
et-xmlfile
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gensim
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
ipython-genutils
ipywidgets
joblib
jupyter-resource-usage
jupyter-server-mathjax
jupyter-ydoc
jupyter_client
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-spreadsheet-editor
jupyterlab-system-monitor
jupyterlab-topbar
jupyterlab-widgets
jupyterlab_git
keras
kiwisolver
libclang
Markdown
markdown-it-py
matplotlib
mdurl
ml-dtypes
multidict
multiprocess
namex
nbdime
nltk
notebook
numpy
openpyxl
opt-einsum
pandas
Pillow
pkbar
protobuf
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pycurl
pydot
pyparsing
pyzmq
regex
requests-oauthlib
rich
rsa
safetensors
scikit-learn
scipy
seaborn
smart-open
smmap
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-text
termcolor
threadpoolctl
tokenizers
tornado
transformers
tzdata
Werkzeug
widgetsnbextension
wrapt
xxhash
y-py
yarl
ypy-websocket
zstandard